{% include "header.html" %}
<div class="container">
<div class="bg-body-tertiary">
    <div class="grid" rel="videos">
        <div class="mobile row" >
            <h5 style="margin-bottom: 20px;">Comedians</h5>
            {% for comedian in all_comedians %}
            {% set name = comedian.name %}
            <p  class="col-3" >
                <a style="text-decoration: none"
                   href="{{ url_for('website.comedian', comedian_id=comedian.id) }}">{{ name }}</a>
            </p >

            {% endfor %}

        </div>
    </div>
</div>
</div>

{% include "footer.html" %}