{% include "header.html" %}
{% include "menu.html" %}

<div class="bg-body-tertiary">
    <div class="grid" rel="videos">
        {% block body_content %}
        <h4 class="video-title">{{ comedian_name }}</h4>
        &nbsp;
        <p>{{ comedian_description }} </p>
        &nbsp;
        <div class="video-grid row">
            {% for product in comedian_products %}
            <div class="video col-4">
                <a href="{{ product.product_link }}" style="text-decoration: none" target="_blank"><img
                        src="{{ product.image_src }}" alt="My Image" style="display: block; width: 100px; height: 150px;">{{
                    product.title }}</a>
            </div>

            {% endfor %}

        </div>
        <br>

        {% include "displaying.html" %}
        {% endblock %}
        {% set text = "/comedians/" + comedian.id|string +"?" %}
        {% include "paging.html" %}


    </div>
</div>
</div>
</div>
</div>

<script>

let comMenuItem = document.getElementById('menu-comedian-{{comedian.id}}');
let comMenu = document.getElementById('select-comedian');
if(comMenuItem){
    let top = comMenuItem.getBoundingClientRect().top - comMenu.getBoundingClientRect().top
    comMenu.scrollTo({top: top})
}



</script>

{% include "footer.html" %}

