{% for video in all_videos %}
<div class="video" style="margin-bottom: 100px;">
    <div class="player-container">
        <iframe width="560" height="315" class="player"
                src="https://www.youtube.com/embed/{{video.link}}"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
    </div>
    <div style="display: flex; align-items: center;">
        <h4 class="video-title">
            <a href="{{ url_for('website.video', video_id=video.id) }}" style="text-decoration: none">{{
                video.title }}</a> by <a
                href="/comedians/{{video.comedian_id}}/{{video.comedian.name|replace(' ', '-')}}"
                style="text-decoration: none">{{
            video.comedian.name }}</a></h4>
        <div class="like-unlike" style="margin-left:auto; min-width:70px; margin-top:-15px;">
            <a href="javascript:;" onclick="like_video('{{ video.id }}')" id="a_like_{{ video.id }}"> <img class="like"
                                                                        src="{{url_for('static', filename='like.png')}}"
                                                                        id="img_like_{{ video.id }}" ></a>
            <a href="javascript:;" onclick="unlike_video('{{ video.id }}')" id="a_unlike_{{ video.id }}"> <img class="unlike"
                                                                          src="{{url_for('static', filename='unlike.png')}}"
                                                                          id="img_unlike_{{ video.id }}"></a>
        </div>
    </div>


    <p class="video-description;">{{ video.description }}</p>
    <div class="tag-list">

        {% for tag in video.getTags()%}
        {% set name = tag.to_url() %}

        <a style="text-decoration: none" href="{{url_for('website.tag', tag_id = tag.id, tag_name = name)}}">{{ tag.name }}</a>
        &nbsp

        {% endfor %}

    </div>
</div>
{% endfor %}
