<div class="container pb-3">


    <div class="d-grid gap-3" id="video-display" style="grid-template-columns: 1fr 3fr; ">
        <div style="display: flex; flex-direction: column; ">
            <aside class="bg-body-tertiary" id="left-menu">
                {% block content %}
                <label for="select-comedian" style=" top: 0; padding-bottom: 10px;">Select Comedian</label>
                <ul style="list-style-type: none; overflow-y: scroll; max-height: 300px; position: relative; "
                    id="select-comedian">

                    {% for id, name, count in all_names %}
                    <li>
                        {% if title == name %}
                        <a id="menu-comedian-{{id}}" href="{{ url_for('website.comedian', comedian_id=id) }}" class="selected">{{ name }}</a>
                        <!-- {{ count }}-->
                        {% else %}
                        <a id="menu-comedian-{{id}}" href="{{ url_for('website.comedian', comedian_id=id) }}">{{ name }}</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% endblock %}
                {% block tag %}
                <label for="select-tag" style=" top: 0; padding-bottom: 10px; padding-top: 40px;">Select Tag</label>
                <ul class="active" id="select-tag" style="list-style-type: none; overflow-y: scroll; max-height: 300px; position: relative;">

                   {% for tag in all_tags %}
                        {% for tag_name, count in tag_counts %}
                            {% if tag.name == tag_name and count >= 5 %}
                                <li>
                                    {% set name = tag.name|replace(' ', '-') %}
                                    {% if selected_tag is none or selected_tag.name != tag.name %}
                                        <a id="menu-tag-{{tag.id}}" href="{{ url_for('website.tag', tag_id=tag.id, tag_name=name) }}">{{ tag.name }}</a>
                                    {% else %}
                                        <a id="menu-tag-{{tag.id}}" href="{{ url_for('website.tag', tag_id=tag.id, tag_name=name) }}" class="selected">{{ tag.name }}</a>
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}


                </ul>
                {% endblock %}
            </aside>
        </div>




