</div>
<div class="video-grid row" style="display: flex; flex-wrap: wrap;
        justify-content: space-between;  margin-bottom: -100px;">
    {% set count = 0 %}
    {% for other_video in other_videos %}
    {% if other_video.id != video.id %}
    {% set other_tags = other_video.getTags() %}
    {% set common_tags = [] %}
    {% for tag in video.getTags() %}
    {% if tag in other_tags %}
    {% set _ = common_tags.append(tag) %}
    {% endif %}
    {% endfor %}

    {% if common_tags %}
    <div class="video col-6" >
        <div class="player-container" style="position: relative; width: 100%; height: 0; padding-bottom: 56.25%;">
            <iframe width="175" height="100" class="player" style=" position: absolute; width: 100%; height: 100%; top: 0; left: 0;"
                    src="https://www.youtube.com/embed/{{ other_video.link }}"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
        </div>
        <div class="video-details" style="text-align: center;">

            <h4 class="video-title" style=" margin:10px 0; text-decoration: none;"><a
                    href="{{ url_for('website.video', video_id=other_video.id) }}" style="text-decoration: none">{{
                other_video.title }}</a> by
                <a
                        href="{{ url_for('website.comedian', comedian_id=other_video.comedian_id) }}"
                        style="text-decoration: none">{{
                    other_video.comedian.name }}</a></h4>
            <p class="video-description;" style="margin 0px;">{{ other_video.description }}</p>
            <div class="tag-list" style="margin-right: 5px;">
                {% for tag in other_video.getTags() %}
                {% set name = tag.name|replace(' ', '-') %}
                <a style="text-decoration: none" href="/tags/{{ tag.id }}/{{ name }}">#{{ tag.name }}</a>
                &nbsp;
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    {% endif %}

    {% endfor %}
