{% include "header.html" %}
{% include "menu.html" %}


<div class="bg-body-tertiary">
    <div class="grid" rel="videos">
        {% block body_content %}
        <h4 class="video-title">{{ tag.name }}</h4>
        <br>
        {% include "displaying.html" %}
        {% endblock %}
        {% set text = "/tags/" + tag.id|string + "/" + tag.name|replace(' ', '-') +"?" %}
        {% include "paging.html" %}

    </div>
</div>
</div>
</div>
</div>

<script>

let comMenuItem = document.getElementById('menu-tag-{{tag.id}}');
let comMenu = document.getElementById('select-tag');
if(comMenuItem){
    let top = comMenuItem.getBoundingClientRect().top - comMenu.getBoundingClientRect().top
    comMenu.scrollTo({top: top})
}

</script>

{% include "footer.html" %}