.DS_Store
backup
TODO.md

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# config
.config.toml
.tmp
.env
.env_prd

# python
venv
__pycache__
*.pyc

# ide
.vscode
.idea