<!-- Footer -->
<footer class="pt-4 pb-3 mt-4">
    <div class="container"  style="display: flex; justify-content: space-between;">
         <p class="copyright text-muted left-content" style="margin-left: 100px;"><a class="d-block  text-decoration-none" href="https://www.urbandictionary.com/define.php?term=Mup" title="here's wtf it is!" target="_blank">what's muuuup??</a></p>
        <p class="copyright text-muted right-content">Copyright &copy; StandMup 2023</p>


    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>

</body>

</html>